@import '../../../styles/media';
@import '../../../styles/variables';
@import '../../../styles/mixins';

.cartPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1440px;
	padding: 110px 70px 20px 70px;
	margin: 0 auto;

	h1 {
		margin-bottom: 20px;
		font-size: 2rem;
		color: var(--color-black);
	}

	.cartContainer {
		display: flex;
		flex-direction: row-reverse;
		gap: 20px;
		width: 100%;
		max-width: 1200px;

		@include tablet {
			flex-direction: column;
		}

		@include mobile {
			flex-direction: column;
		}

		@include mobile-small {
			flex-direction: column;
		}
	}

	.cartSummary {
		display: flex;
		flex-direction: column;
		border: 1px solid #eee;
		box-shadow: var(--box-shadow);
		padding: 20px;
		border-radius: 5px;
		background-color: var(--color-light-main);
		margin-bottom: 20px;
		width: 100%;
		max-width: 400px;

		.totalPrice, .totalItems {
			font-size: 1.8rem;
			font-family: Iosevka, sans-serif;
			margin-bottom: 10px;
		}

		.checkoutButton {
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			background-color: var(--color-footer);
			color: var(--color-white);
			margin-bottom: 10px;
			width: 100%;
		}

		.agreement {
			margin-top: 10px;
			font-size: 1rem;

			label {
				display: flex;
				flex-direction: row;
				align-items: center;

				input[type="checkbox"] {
					margin-right: 10px;
				}

				a {
					color: var(--color-link);
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		@include mobile {
			max-width: none;

			.totalPrice, .totalItems {
				font-size: 1.5rem;
			}
		}
	}

	.cartContainer {
		display: flex;
		flex-direction: row-reverse;
		gap: 20px;
		width: 100%;
		max-width: 1200px;

		@include mobile {
			flex-direction: column;
		}
	}


	.cartItems {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 20px;

		@include tablet {
			order: 2;
		}

		@include mobile {
			order: 2;
		}

		@include mobile-small {
			order: 2;
		}
	}

	.cartSummary {
		width: 300px;


		@include tablet {
			width: 100%;
		}

		@include mobile {
			width: 100%;
		}
	}

		.cartItem {
		display: flex;
		align-items: center;
		color: var(--color-black);
		border-radius: 10px;
		background: var(--color-light-main);
		box-shadow: var(--box-shadow);
		padding: 20px;
		position: relative;

		.cartItemImage {
			width: 200px;
			height: auto;
			border-radius: 10px;
			margin-right: 20px;

			img {
				width: 100%;
				height: auto;
				border-radius: 10px;
			}
		}

		.cartItemDetails {
			flex: 1;
			display: flex;
			flex-direction: column;

			h2 {
				font-size: 1.5rem;
				margin-bottom: 10px;
			}

			.cartItemPrice {
				font-size: 1.2rem;
				font-weight: bold;
				margin-left: auto;
				text-align: right;

				p {
					margin-bottom: 10px;
				}

				.removeButton {
					background-color: var(--color-red);
					color: var(--color-white);
					border: none;
					border-radius: 5px;
					padding: 10px 20px;
					cursor: pointer;
					transition: background-color 0.3s;

					&:hover {
						background-color: var(--color-blue);
					}
				}
			}
		}
	}

	.privacyPolicyLink {
		margin-top: 10px;
		font-size: 1.2rem;
		color: var(--color-red);
		text-decoration: underline;
		cursor: pointer;
	}
}
