.idea/
.vscode/
.DS_Store
*.log
*.pot
*.pyc
__pycache__
*.mo
venv/
backend/.env
backend/static
backend/media/user*
backend/db.sqlite3
frontend/build
frontend/node_modules
frontend/public/videos
docker/volumes
docker/dev/Nginx/logs
.eslintcache
*.manifest
*.specbackend/media/shop/*
/backend/media/shop/