version: "3.9"

networks:
  soulwarm:

services:
  backend:
    container_name: backend
    build:
      context: .
      dockerfile: ./docker/dev/Django/Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    platform: linux/amd64
    networks:
      - soulwarm
    ports:
      - 8000:8000
    volumes:
      - ./backend:/app/backend
    env_file:
      - ./backend/.env
    depends_on:
      - db

  db:
    container_name: db
    image: postgres:15.1
    platform: linux/amd64
    networks:
      - soulwarm
    ports:
      - 5432:5432
    volumes:
      - ./docker/volumes/postgresql/lib:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=soulwarm
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  react:
    container_name: react
    build:
      context: .
      dockerfile: ./docker/dev/React/Dockerfile
    platform: linux/amd64
    networks:
      - soulwarm
    ports:
      - 3000:3000
    volumes:
      - ./frontend:/app/frontend
    command: serve -s build -l 3000

  nginx:
    container_name: nginx
    build:
      context: .
      dockerfile: ./docker/dev/Nginx/Dockerfile
    platform: linux/amd64
    networks:
      - soulwarm
    ports:
      - 80:80
    volumes:
      - ./:/app
      - ./docker/dev/Nginx/core:/etc/nginx/
      - ./docker/dev/Nginx/logs:/var/log/nginx/
    depends_on:
      - backend
      - react