// LandingPage.module.scss
@import '../../styles/media';
@import '../../styles/variables';
@import '../../styles/mixins';

.landingPage {
	max-width: 1440px;
	margin: auto;
	padding: 0 15px;
	box-sizing: border-box;
}

.fullWidthSlider {
	width: 100%;
}

.landingPage__link {
	display: inline;
	line-height: inherit;
	color: var(--color-dark-blue);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.titleBlock {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	margin: 0 auto;
	padding: 90px 70px 0 360px;
	max-width: 1440px;

	@include desktop {
		padding: 90px 0 0 100px;
	}

	@include tablet {
		padding: 90px 0 0 90px;
	}

	@include mobile {
		padding: 80px 0 0 20px;
	}
}

.titleBlock__textTitle {
	margin: 20px 90px 10px 10px;
	font-size: 90px;

	@include desktop {
		font-size: 90px;
	}

	@include tablet {
		margin: 20px 30px 10px 10px;
		font-size: 70px;
	}

	@include mobile {
		margin: 10px 0 0 0;
		font-size: 50px;
	}

	@include mobile-small {
		font-size: 40px;
	}
}

.titleBlock__textCopyright {
	margin: 120px 10px 10px 10px;
	font-size: 20px;

	@include desktop {
		margin: 90px 0 0 0;
		font-size: 20px;
	}

	@include tablet {
		font-size: 16px;
	}

	@include mobile {
		font-size: 14px;
	}
}

.mainLeaf01,
.mainLeaf02 {
	position: absolute;
	opacity: 0.1;
	rotate: 300deg;
	width: 300px;
	height: auto;
	left: 250px;

	@include desktop {
		width: 400px;
		left: 150px;
	}

	@include tablet {
		display: none;
	}

	@include mobile {
		display: none;
	}
}

.mainLeaf01 {
	top: -120px;
}

.mainLeaf02 {
	top: 2000px;

	@include tablet {
		top: 800px;
		width: 250px;
	}

	@include mobile {
		top: 700px;
		width: 250px;
	}
}

.landingPage__ecoprint,
.landingPage__process,
.landingPage__plants,
.landingPage__lets_magic,
.landingPage__bye,
.landingPage__masterclass {
	padding: 14px 60px 0 60px;

	@include desktop {
		padding: 14px 40px 0 40px;
	}

	@include tablet {
		padding: 14px 20px 0 20px;
	}

	@include mobile {
		padding: 14px 10px 0 10px;
	}

	@include mobile-small {
		padding: 14px 5px 0 5px;
	}
}

.landingPage__masterclass {
	margin: 2rem 0;
	background: #f8f5f0; /* Светлый бежевый фон */
	border-radius: 10px;
	padding: 2rem 60px;
	border: 1px solid #e8e0d5; /* Тонкая рамка в тон фону */

	@include desktop {
		padding: 2rem 40px;
	}

	@include tablet {
		padding: 1.5rem 20px;
		margin: 1.5rem 0;
	}

	@include mobile {
		padding: 1rem 10px;
		margin: 1rem 0;
	}

	h1 {
		color: var(--color-dark-green);
		margin-bottom: 1rem;
		text-align: center;
	}

	p {
		margin-bottom: 1rem;
		line-height: 1.5;
	}
}

.landingPage__video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	overflow: hidden;
}

.landingPage__video video,
.landingPage__video img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.landingPage__button {
	@include button-style;
	width: 400px;
	font-size: 1.5rem;
	margin: 1rem auto;
	display: block;
	text-align: center;

	@include tablet {
		font-size: 1.3rem;
		width: 100%;
	}

	@include mobile {
		font-size: 1.3rem;
		width: 100%;
	}

	@include mobile-small {
		font-size: 1.3rem;
		width: 100%;
	}
}

.landingPage__bye {
	text-align: center;
	margin-top: 3rem;
	padding-bottom: 3rem;

	h1 {
		color: var(--color-dark-green);
		margin-bottom: 1rem;
	}

	p {
		margin-bottom: 1rem;
		line-height: 1.5;
	}
}