<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Спасибо за регистрацию!</title>
    <style>
        /* Опциональные стили для письма */
        body {
            font-family: Helvetica, sans-serif;
            font-size: 18px;
            line-height: 1.5;
            color: #333;
        }
        h1 {
            color: #007bff;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #c16c6c;
            color: #fff;
            text-decoration: none;
            border-radius: 14px;
        }
    </style>
</head>
<body>
    <h1>Спасибо за регистрацию на нашем сайте!</h1>
    <p>Мы рады приветствовать вас в нашем сообществе. Ваша учетная запись успешно активирована.</p>

    <h2>Добро пожаловать на сайт!</h2>
    <p>Благодарю вас за то, что вы обратили внимание на моё творчество.<br>
    Надеюсь оно вдохновило вас на создание прекрасных и неповторимых шедевров, создаваемых вместе с природой.</p>

    <h2>У Вас всё получится!</h2>
    <p>Я хочу предложить Вам приобрести мастер-класс "Цветной фон", в котором подробно показаны все этапы создания, пошаговые инструкции и все нюансы, которые будут наглядно продемонстрированы на видео.</p>
    <p>Вместе с мастер-классом вы получите подробный конспект, содержащий более 20 рецептов окрашивания ткани природными красителями.</p>
    <p>Для того чтобы получить доступ к просмотру видео-материалов мастер-класса, а также двум конспектам в формате PDF, которые вы сможете при необходимости скачать к себе на компьютер, вам необходимо произвести оплату и получить доступ к материалам мастер-класса на <a to="/promo" class="link">сайте</a> в личном кабинете профиля.</p>
    <p>В профиле сайта вам будет предоставлен доступ к закрытому чату для обсуждения материалов мастер-класса со мной и другими учениками. Впрочем на сайте реализован и обычный чат для всех пользователей в, котором вы сможете задать любые вопросы мне.</p>
    <p>Также хочу обратить ваше внимание на несколько бесплатных уроков которые доступны для всех.</p>
    <a href="https://koltsovaecoprint.ru/" class="btn">Перейти на сайт</a>
    <p>Нина Кольцова<br>ДушуГрею<br>художник по текстилю</p>
    <img src="https://a3fe9088-d3e3-469b-9c5e-a60352a1f77f.selstorage.ru/footer-mail.jpg" style="width: 100%" alt="footer-mail">
</body>
</html>