// PaymentInstructionsPage.module.scss
@import '../../../styles/media';
@import '../../../styles/variables';
@import '../../../styles/mixins';


.paymentInstructionsPage {
	max-width: 1000px;
	margin: 0 auto;
	padding: 100px 20px;
	background-color: var(--color-white);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.instructionsContainer {
	padding: 20px;
	margin-bottom: 20px;

	h2 {
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 32px;
	}

	.ol {
		padding-left: 20px;
		font-family: 'Iosevka', sans-serif;
	}

	.li {
		padding-left: 20px;
		font-family: 'Iosevka', sans-serif;
	}
}

.backButton {
	width: 200px;
	height: 40px;
	border-radius: 10px;
	background-color: var(--color-footer);
	box-shadow: 0 0 50px 0 #00000033;
	margin: 20px auto 20px;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: var(--color-blue);
	}
}

.leaf {
	width: 300px;
}

.mainLeaf01 {
	position: absolute;
	opacity: 0.1;
	rotate: (300deg);
	width: 500px;
	height: auto;
	top: -120px;
	left: 500px;

	@include desktop {
		top: -90px;
		width: 400px;
		left: 150px;
	}

	@include tablet {
		display: none;
	}

	@include mobile {
		display: none;
	}

	@include mobile-small {
		width: 100px;
	}
}

.mainLeaf02 {
	position: absolute;
	opacity: 0.1;
	rotate: (300deg);
	width: 700px;
	height: auto;
	top: 700px;
	left: 500px;

	@include desktop {
		top: 2000px;
		width: 500px;
		left: 400px;
	}

	@include tablet {
		top: 800px;
		width: 400px;
		left: 300px;
	}

	@include mobile {
		top: 700px;
		width: 300px;
		left: 200px;
	}

	@include mobile-small {
		width: 100px;
	}
}