// galleryPage.scss
@import '../../styles/media';
@import '../../styles/variables';
@import '../../styles/mixins';

.gallery {
	max-width: 1440px;
	padding: 110px 70px 0 70px;
	margin: 0 auto;
	text-align: center;

	@include tablet {
		padding: 110px 20px 0 20px;
	}

	@include mobile {
		padding: 110px 10px 0 10px;
	}

	@include mobile-small {
		padding: 110px 5px 0 5px;
	}

	h1 {
		margin-bottom: 2rem;

		@include tablet {
			text-align: center;
		}
	}

	&__description {
		margin-bottom: 2rem;
		text-align: left;
	}

	&__container {
		width: 100%;
		padding: 1rem 2rem;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
		justify-content: center;
		align-items: center;

		@include mobile-small {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		text-align: center;
		color: var(--color-black);
		border-radius: 5px;
		background: var(--color-main);
		box-shadow: var(--box-shadow);
		padding: 1rem;
		overflow: hidden;


		&_image {
			position: relative;
			display: block;
			width: 100%;
			padding-top: 70%;
			background: var(--color-main);
			cursor: pointer;

			@include tablet {
				padding-top: 100%;
			}

			@include mobile {
				padding-top: 100%;
			}

			@include mobile-small {
				padding-top: 100%;
			}

			img {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}


	.backButton {
		width: 200px;
		height: 30px;
		flex: 1;
		/* Центрирование кнопки */
		margin: 15px 0;
		background-color: var(--color-red);
		color: var(--color-main);
		border: none;
		border-radius: 5px;
		transition: background-color 0.3s ease;
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
		font-family: LetteraTrentadue, sans-serif;
		font-size: 1.1rem;
		text-align: center;
		cursor: pointer;

		&:hover {
			background-color: var(--color-blue);
		}

		@include tablet {
			margin: 0 5px 10px 5px;
		}
	}
}